<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="/public/client.js"></script>
</head>
<body>
    <header>
        <div id="navigation">
            <h1>Klassy</h1>
            <a href="/">Hem</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>
    </header>
    <br>
    <div id="mid">
        {{{body}}}
    </div>
</body>
</html>