<table id="connected">
  <tr>
    <td rowspan="2">
      <div class="elementinn">
        <h2 id="rubrik">Lektionens innehåll</h2>
        Quisque venenatis dolor a massa commodo, sed eleifend purus aliquet. Aenean nec felis non dolor elementum iaculis. Duis blandit dictum lorem, non hendrerit erat auctor at. Cras venenatis tristique sem volutpat semper. In efficitur pellentesque iaculis. Maecenas id pulvinar ligula. Donec quis nisi a lorem convallis lobortis vel feugiat risus. In tempor, ipsum eu sagittis tincidunt, orci est vehicula mi, non pharetra nibh nulla non metus. Suspendisse ac metus porta, accumsan sapien vitae, aliquam justo. Sed ut est et velit iaculis pulvinar a at urna. Praesent libero neque, tincidunt in tellus et, pretium laoreet velit. Quisque lacinia sem quis risus mattis venenatis sit amet id felis. Nulla libero ex, feugiat nec euismod in, condimentum ac turpis. Proin semper pretium velit, sodales egestas tellus placerat id.
        <h2 id="rubrik2">Bilagor</h2>
      </div>
    </td>  
    <td id="key">
      <div class="element">
        <h2 id="rubrik">Nyckel</h2>
        <h2>{{code}}</h2>
      </div>
    </td> 
  </tr>
  <tr>
    <td>
      <div class="element">
        <h2 id="rubrik">Kölista</h2>
        <h2>{{code}}</h2>
      </div>
    </td>
  </tr>
</table>

