<table id="connected">
  <tr>
    <td rowspan="2">
      <div class="elementinn">
        <h2 id="rubrik">{{rubrik}}</h2>
        {{{lessinf}}}
        <h2 id="rubrik2">Bilagor</h2>
        <div id="item-container">

        </div>
      </div>
    </td>  
    <td id="key">
      <div class="element">
        <h2 id="rubrik">Nyckel</h2>
        <h2>{{code}}</h2>
      </div>
    </td> 
  </tr>
  <tr>
    <td>
      <div class="element">
        <h2 id="rubrik">Kölista</h2>
        <h2>{{code}}</h2>
      </div>
    </td>
  </tr>
</table>

