<h1>Inloggning</h1>
<form action="login" method="post">
    <input type="email" name="email" placeholder="E-postadress" value={{email}}>
    <input type="password" name="password" placeholder="Lösenord">
    {{{errmess}}}
    <input type="submit" value="Logga in">
    <a href="/register">Registrera dig</a>
</form>