<div id="prepless">
    <h1>Information om lektionen</h1>
    <form action="/startlesson" method="post">
        <textarea></textarea>
        <input type="submit" value="Starta lektion">
    </form>
</div>
