<h1>Registrering</h1>
<form action="register" method="post">
    <input type="email" name="email" placeholder="E-postadress">
    <input type="password" name="password" placeholder="Lösenord">
    <div class="radiogroup">
        <input type="radio" name="group" value="1"><p>Elev</p>
        <input type="radio" name="group"value="0"><p>Lärare</p>
    </div>
    <input type="submit" value="Registrera dig">


    <a href="/login">Logga in</a>
</form>