<h1>Registrering</h1>
<form action="register" method="post">
    <div class="radiogroup">
        <input type="radio" name="group" value="1" checked="true" onClick="ChangeUserReg(this);"><p>Elev</p>
        <input type="radio" name="group" value="0" onClick="ChangeUserReg(this);"><p>Lärare</p>
    </div>
    <input type="text" name="name" placeholder="För- efternamn" required value={{name}}>
    <input id="class" type="text" name="class" placeholder="Klass" required value={{class}}>
    <input type="email" name="email" placeholder="E-postadress" required value={{email}} >
    <input type="password" name="password" placeholder="Lösenord" required>
    <input type="password" name="repassword"  placeholder="Bekräfta Lösenordet" required>
    
    <input type="submit" value="Registrera dig">

    {{{errmess}}}
    <a href="/login">Logga in</a>
</form>

<script>
    //Layouten i registreringen anpassas beroende på vilken typ av konto det är
    function ChangeUserReg(a){
        //Är det ett lärarkonto
        if(a.value == 0){
            document.getElementById("class").style.display = "none";
            document.getElementById("class").value = "Lärare";
        }
        //Är det ett elevkonto
        else{
            document.getElementById("class").style.display = "block";
            document.getElementById("class").value = "";
        }
    }
</script>
