
<h2>Vill du verkligen ta bort <span style="color:black">{{lesson}}</span></h2>

<form action="confirm" method="post">
    <input type="hidden" name="key" value={{key}}>
    <button type="button" onclick="window.history.back();">Avbryt</button>
    <button type="submit">Ta bort</button>
</form>