<h1>{{title}}</h1>

<div id="navTeacher">
    <a href="/teacher/pupils">Mina Elev</a>
    <a href="/teacher/lessons">Lektioner</a>
    <a href="/teacher/mypupils"></a>
    <a href="/teacher/mypupils"></a>
</div>
<form action="/startlesson" method="post">
    <input type="submit" value="Starta lektion">
</form>