html,body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
}

body{
    margin:0px;
    background-color: #5D5E56;
}





#mid,#mid form, #mid input, input[type="radio"]{
    margin-left: auto;
    margin-right: auto;
}

#indextext{
    margin-left: 10vw;
    margin-right: 10vw;
}

#mid{
    text-align: center;
    width: 60vw;
    min-height: 60vh;
    height: 100%;
    padding:3vw;
    background-color: white;
    color: #E16767;
}
#mid h1{
    padding-top: 5vw;
}
#mid form{
    width: 40vw;
}
#mid input[type="radio"]{
    width: 30px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 7px;
}
#mid p{
    padding-right: 10px;
    margin:0px;
}
#mid input{
    width: 100%;
    max-width: 500px;
}

#mid a{
    text-align: right;
}

.radiogroup{
    display: flex;
    justify-content:center;
}




#navigation{
    position: relative;
    background-color:#303030;
    color: #E1CC67;
    display: flex;
    align-items: center;
}

#navigation h1{
    display: inline-flex;
    border: 0px;
    margin:0px;
    padding:20px;
    padding-left: 60px;
    font-size: 80px;
    font-family: "Tw Cen MT";
}
#navigation a{
    font-size: 16px;
    text-align: right;
    text-decoration:none;
    margin-right:10px;
    color:#e1cc67;
}

#name-container{
    display: inline-block;
}

#user{
    margin-left: auto;
    padding-right:120px;
    display: inline-flex;
    align-items: center;
}
#user h1{
    font-size: 30px;
    padding:0px;
}
#user img{
    width:75px;
    height: 75px;
    border-radius: 100%;
}
#user h2{
    margin: 0px;
    font-size: 15px;
    text-align: right;
}

table {
    border-collapse: collapse;
    empty-cells: hide;
    width: 100%;
    height:50%;

}
  
td{
    min-width: 15vw;
}
table, td {
    border: 1px solid black;
    vertical-align: top
}
#key{
    height: 90px;
}
.elementinn{
    text-align: left;
    margin-left: 30px;
}
.element h2{
    margin: 0;
}
#rubrik
{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
}

#rubrik2{
    font-size: 30px;
}

input{
    margin-top: 10px;
    display: block;
}

a{
    color: #4d4938;
}

a:hover{
    color: #c0ae52;
}
#lessons{
    padding-top: 30px;
    display: inline-block;
}
#lessons li{
    margin-bottom: 30px;
    text-align: right;
}

.element li, #lessons li{
    list-style-type: none;
}

.element li{
    text-align: left;
}

#lessonpack a, #navTeacher a, a#logout, input[type=button], input[type=submit], button{

    border-radius: 4px;
    margin-left: 5px;
    border: solid 1px #b8a545;
    background: #e1cc67;
    color: #FFF;
    padding: 8px 12px;
    text-decoration: none;
    color: #303030;
}
#lessonpack a:hover, #navTeacher a:hover, a#logout:hover, input[type=button]:hover, input[type=submit]:hover,button:hover{
    border: solid 1px #807025;
    background: #c0ae52;
}

#navTeacher{
    margin-bottom: 2vw;
}

#lessonpack a:last-child{
    border-radius: 4px;
    margin-left: 20px;
    border: solid 1px #b84545;
    background: #e16767;
    color: #FFF;
    padding: 8px 12px;
    text-decoration: none;
    color: #303030;
}

#lessonpack a:last-child:hover{
    border: solid 1px #802525;
    background: #c05252;
}

input[type=button], input[type=submit]{
    height: 38px;
    width: auto;
    cursor: pointer;
}

