html,body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
}

body{
    margin:0px;
    background-color: #5D5E56;
}





#mid,#mid form, #mid input, input[type="radio"]{
    margin-left: auto;
    margin-right: auto;
}



#mid{
    text-align: center;
    width: 60vw;
    height: 80vw;
    background-color: white;
    color: #E16767;
}
#mid h1{
    padding-top: 5vw;
}
#mid form{
    width: 40vw;
}
#mid input[type="radio"]{
    width: 30px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 7px;
}
#mid p{
    padding-right: 10px;
    margin:0px;
}
#mid input{
    width: 100%;
    max-width: 500px;
}

#mid a{
    text-align: right;
}

.radiogroup{
    display: flex;
    justify-content:center;
}

#navigation{
    position: relative;
    background-color:#303030;
    color: #E1CC67;
    display: flex;
    align-items: center;
}

#navigation h1{
    display: inline-flex;
    border: 0px;
    margin:0px;
    padding:20px;
    padding-left: 60px;
    font-size: 80px;
    font-family: "Tw Cen MT";
}
#navigation a{
    font-size: 16px;
    text-align: right;
    text-decoration:none;
    color: #E1CC67;
}
#name-container{
    display: inline-block;
}
#navigation a:hover{
    color: rgb(192, 174, 82);
}
#user{
    position: relative;
    right: -240px;
    display: inline-flex;
    align-items: center;
}
#user h1{
    font-size: 30px;
    padding:0px;
}
#user img{
    width:75px;
    height: 75px;
    border-radius: 100%;
}
#user h2{
    margin: 0px;
    font-size: 15px;
    text-align: right;
}

table {
    border-collapse: collapse;
    empty-cells: hide;
}
  
td{
    min-width: 15vw;
}
table, td {
    border: 1px solid black;
}
#key{
    height: 90px;
}
.elementinn{
    text-align: left;
    margin-left: 30px;
}
.element h2{
    margin: 0;
}
#rubrik
{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
}

#rubrik2{
    font-size: 30px;
}

input{
    margin-top: 10px;
    display: block;
}